{% autoescape off %}
    Dear {{ firstname }} {{ lastname }},

    Greetings from VC - Virtual ClassRoom .

    An Invite has been sent to join the classroom

    Faculty Name   : {{facultyName}}
    ClassRoom Name : {{className}}
    ClassRoom Id   : {{classId}}

    To join the classroom, go to your Dashboard, and click on "Join Classroom" button. A pop up will occur, enter the ClassRoom Id
    there and click on "Join" Button.

    Best of luck for your future!!

    Best Regards,
    VC - team


{% endautoescape %}
