{% extends 'base.html' %}
{% block title %}
Admin Page
{% endblock %}
{% block content %}
{% load static %}
<main id="main" class="main px-lg-5 mx-lg-5">


  <style media="screen">
    .gradient-custom-2 {
    background-image: linear-gradient(to left bottom, #1b1e7b, #1f2685, #222f90, #26379a, #2940a5, #2940a5, #2940a5, #2940a5, #26379a, #222f90, #1f2685, #1b1e7b);
  }
  </style>
  <div class="container">
    <section class="h-100 gradient-form">
        <div class="container py-2 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
              <div class="card  text-black" style="border-radius:30px; ">
                <div class="row g-0">

                  <div class="col-lg-6 d-flex align-items-center gradient-custom-2 .gradient-custom-2 ">
                    <div class="text-white px-3 py-4 mx-md-4">
                      <div class="image-container m-0">
                      <img src="{% static 'images/logout.png'%}" class="img-fluid" alt="" >
                      </div>

                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="card-body px-md-5 py-md-5 mx-md-4  self-items-center">
                      {% include 'partials/_alert.html' %}
                      <div class="text-center mb-4 self-align-center">
                        <h5 class="card-title text-center mt-lg-4 mb-2 fs-4">THANK YOU FOR VISITING !!</h5>
                        <a href="{% url 'landing' %}" class="btn btn-primary col-10 text-center" style="background-image: linear-gradient(to left bottom, #1b1e7b, #1f2685, #222f90, #26379a, #2940a5, #2940a5, #2940a5, #2940a5, #26379a, #222f90, #1f2685, #1b1e7b);">HOME</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

  </div>
</main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% endblock %}
