{% extends 'base.html' %}
{% block title %}
Admin Page
{% endblock %}
{% block content %}

<style media="screen">

</style>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center px-lg-5">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'facultyDashboard' %}" class="logo d-flex align-items-center">
        <img src="" alt="">
        <span class="d-lg-block">VirtualClassroom</span>
      </a>
    </div><!-- End Logo -->



    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{{userDetails.facultyPic.url}}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{user.first_name}} {{user.last_name}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{user.first_name}} {{user.last_name}}</h6>

            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'facultyProfile' %}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            {% if user.is_authenticated %}
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'facultyLogout' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
            {% else %}
            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
            {% endif %}

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <main id="main" class="main px-lg-5 mx-lg-5">

    <div class="pagetitle">
      <h1>Attendence Page</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'facultyDashboard' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'facultySubject' id %}">Classroom</a></li>
          <li class="breadcrumb-item active">Attendence Page</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">


      <div class="card">
            <div class="card-body">
              <div class=" mt-0 container">
                <div class=" pb-2">
                  <h5 class="card-title text-center mb-0 pb-0 ">ATTENDENCE PAGE</h5>
                  <p class="text-center small">( Update Today's Attendence before midnight )</p>
                </div>
              </div>
            <div class="my-3">
              {% if status %}
                <h5>Today's Attendence Status : <strong style="color:green;">MARKED</strong></h5>
              {% else %}
                <h5>Today's Attendence Status : <strong style="color:red;">NOT MARKED</strong> </h5>
              {% endif %}
            </div>

            {% include 'partials/_alert.html' %}
            
              <!-- Table with stripped rows -->
              <form class="" method="POST">
                {% csrf_token %}
                <table class="table  table-striped ">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">STUDENT ID</th>
                      <th scope="col">NAME</th>
                      <th scope="col">EMAIL</th>
                      <th scope="col">ACTION</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for user in students %}
                    <tr>
                      <th scope="row">{{ forloop.counter}}</th>
                      <td>{{user.username}}</td>
                      <td>{{user.first_name}} {{user.last_name}}</td>
                      <td>{{user.email}}</td>
                      <td>
                        {% if user.username in todayPresent %}
                          <input class="form-check-input" type="checkbox" name="attendence" value="{{ user.username }}"
                                      style="height:20px; width:20px;" checked>
                        {% else %}
                          <input class="form-check-input" type="checkbox" name="attendence" value="{{ user.username }}"
                                        style="height:20px; width:20px;" >
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

                <div class="text-center">
                  <button type="submit" class="btn btn-success" name="submitAttendence"><span class="bi bi-journal-check"> </span>Submit Attendence</button>
                </div>
              </form>

              <!-- End Table with stripped rows -->



    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'partials/_footer.html'%}
  <!-- ======= Footer Ends ======= -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  {% endblock %}
