{% extends 'base.html' %}
{% block title %}
Admin Page
{% endblock %}
{% block content %}
{% load static %}
<style media="screen">
  .gradient-custom-2 {
background-image: linear-gradient(to left bottom, #1b1e7b, #1f2685, #222f90, #26379a, #2940a5, #2940a5, #2940a5, #2940a5, #26379a, #222f90, #1f2685, #1b1e7b);
}
</style>
  <main style="background-color: #eee;">
    <div class="container">
      <section class="h-100 gradient-form">
          <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-xl-10">
                <div class="card  text-black" style="border-radius:30px; ">
                  <div class="row g-0">

                    <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                      <div class="text-white px-3 py-4 p-md-5 mx-md-0">
                        <div class="img-container">
                          <img src="{% static 'images/Tile1.png' %}" class="img-fluid" alt="">
                          <h5><i>"A Classroom should be a place where a Mistake is not to be feared but viewed as a Learning Experience"</i></h5>

                        </div>
                        <!-- <h4 class="mb-4">We are more than just a company</h4>
                        <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="card-body p-md-5 mx-md-4">
                        {% include 'partials/_alert.html' %}

                        <a href="{% url 'landing' %}" class="btn btn-primary my-2" style="text-align:left; background-color:#1b1e7b; color:white; border-color:#1b1e7b;">
                          <i class="bi bi-arrow-left"> &nbsp;</i>HOME</a><br>

                        <div class="text-center">
                          <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/lotus.png" style="width: 185px;" alt="logo">
                          <h4 class="mt-1 pb-1">Welcome Student</h4>
                          <h4 class="mt-1 mb-5 pb-1">Login To Your Account</h4>
                        </div>

                          <form class="row g-3 needs-validation" method='POST' novalidate>
                            {% csrf_token %}

                            <div class="col-12 my-2">
                              <label for="yourEmail" class="form-label">EMAIL*</label>
                              <input type="email" name="email" class="form-control" id="yourEmail" required>
                              <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                            </div>

                            <div class="col-12 my-2">
                              <label for="yourPassword" class="form-label">PASSWORD*</label>
                              <input type="password" name="password" class="form-control" id="yourPassword" required>
                              <div class="invalid-feedback">Please enter your password!</div>
                            </div>

                            <div class="col-12 mt-lg-4 mt-sm-3 mb-1">
                              <button class="btn btn-outline-primary w-100" name="submit" type="submit">LOGIN</button>
                            </div>

                          </form>

                          <div class="d-flex align-items-center justify-content-center mt-lg-3 pb-4">
                            <p class="mb-0 me-2">Don't have an account?</p>
                            <a href="{% url 'studentRegister'%}" type="button" class="btn btn-outline-danger">Create new</a>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% endblock %}
